
@media (max-width: 850px) {
    .grid__2__cols{
        grid-template-columns: 1fr;
        padding: 5vh 4vw;
        margin: 5vh auto;
    }
    .inverse{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .hero{
        height: 100%;
    }
    .hero_grid{
        grid-template-columns: 1fr;
        grid-gap: 3vh;
    }
    .hero_txt{
        text-align: center;
    }
    footer{
        padding: 4vh 0;
        margin-top: 15vh;
    }
    .footer_grid{
        grid-template-columns: 1fr;
        padding: 2vh 5vw;
    }
    .footer_cta{
        width: 90vw;
        margin-top: 0;
        margin-left: 5vw;
    }
    .footer_cta h1{
        font-size: 1.5rem;
    }
    .social__media{
        width: 70vw;
        display: flex;
        justify-content: space-between;
        margin: 2vh auto;
    }
}

