@font-face {
    font-family: Poppins;
    src: url(https://fonts.google.com/specimen/Poppins);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(255, 254, 254);
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vh;
    padding: 2vh;
}
.logo{
    filter: brightness(0);
}
.try_free{
    padding: 1vh 2vw;
    border: 0;
    border-radius: 2rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.192);
}

.hero{
    background-image: url(images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding: 2vh 5vw;
    margin-bottom: 10vh;
    background-color: hsl(193, 100%, 96%);
}

.hero_grid{
    display: grid;
    grid-template-columns: 50fr 50fr;
    width: 90vw;
    /* height: 75vh; */
    justify-content: center;
    align-items: center;
    margin: 2vh auto;
    grid-gap: 2vw;
    box-sizing: border-box;
}
.hero_txt h1{
    font-size: 3.5rem;
    line-height: 1.2;
    margin-bottom: 3vh;
    font-family: sans-serif;
}
.hero_txt p{
    font-size: 1.8rem;
    margin-bottom: 3vh;
    /* font-family: sans-serif; */
}
